<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Categories</h1>
    <p>category 1</p>
    <p>category 2</p>
    <p>category 3</p>
    <div>
        <a href="/car/new">Add Car</a>
        <a href="/category/new">Add Category</a>
    </div>
</body>
</html>