<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <aside>
        <h1>Categories</h1>
        <% categories.forEach(category => { %>
            <li>
                <a href="/category/<%= category.category.toLowerCase() %>"><%= category.category %></a>
            </li>
        <% }) %>
        <div>
            <a href="/car/new">Add Car</a>
            <a href="/category/new">Add Category</a>
        </div>
    </aside>
</body>
</html>