/* CSS Reset from https://piccalil.li/blog/a-more-modern-css-reset/
by Andy Bell */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

* {
  margin: 0;
  padding: 0;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  line-height: 1.5;
  box-sizing: border-box;
  font-optical-sizing: auto;
  font-style: normal;
  position: relative;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

button:active {
  box-shadow: none;
  transform: translateY(4px) translateX(4px);
  transition: 100ms ease-in-out;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


body {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    display: grid;
    grid-template-columns: 20rem 1fr;
    
    min-height: 100vh;
    background-color: rgb(235, 222, 219);
}

/* SIDEBAR ||  */
.sidebar {
  list-style-type: none;
  padding-top: 1rem;
  padding-bottom: 2rem;
  background-color: rgb(40, 41, 41);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-category-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.category-item {
  text-decoration: none;
  padding: 0.5rem 2rem;
}

.category-item > a {
  text-decoration: none;
  padding: 0.5rem 1rem ;
  background-color: rgb(126, 215, 245);
}

.add-car-btn, .add-category-btn {
  text-align: center;
  text-decoration: none;
  padding: 1rem;
  background-color: rgb(57, 57, 57);
  color: white;
}

.add-btn-div {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/* MAIN PAGE ||  */
.all-cars-text {
  font-size: 3rem;
  padding-left: 2rem;
  padding-top: 1rem;
}

.smaller-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}


.car-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-align: center;
  background-color: rgb(255, 255, 255);
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  width: 10rem;
  height: 10rem;
}



/* FORMS ||  */

.form {
  padding-left: 2rem;
  padding-top: 1rem;
}

.category-title, .car-title {
  font-size: 2rem;
}

.car-description {
  font-style: italic;
}

.form:not(.delete-category) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button, .update-btn {
  text-align: center;
  text-decoration: none;
  border: none;
  padding: 0.5rem 1rem;
  background-color: rgb(57, 57, 57);
  color: white;
}
