<html>
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/sidebar') %>
    <h1>car page</h1>
    <h2>
        <%= param.carId  %>
    </h2>
    <a href="/car/<%= param.carId %>/update">Update</a>
  </body>
</html>