<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/car/new">
        <h1>Add a Car</h1>
        <label for="brand">Brand:</label>
        <input type="text" name="brand" required>
        <label for="model">Model:</label>
        <input type="text" name="model" required>
        <label for="image">Upload Image</label>
        <input type="file" name="image">
        <button type="submit">Add</button>
    </form>
</body>
</html>