<!DOCTYPE html>
<%- include('../partials/head') %>
<body>
    <%- include('../partials/sidebar') %>
    <form method="POST" action="/category/<%= param.categoryId %>/update">
        <h1>Update Category</h1>
        <label for="category">Category Name:</label>
        <input type="text" name="category" value="<%= category[0].category %>">
        <button type="submit">Update</button>
    </form>
</body>
</html>